/* Home.css */
.carousel-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#mainCarousel {
    max-width: 1000px;  /* Adjust width as needed */
    width: 100%;
}

.carousel-item img {
    width: 100%;
    height: 500px;  /* Adjust height as needed */
    object-fit: contain;
    border-radius: 8px;
}

.carousel-item:nth-child(1) img {
    background-color: #131217;
}

.carousel-item:nth-child(2) img {
    background-color: #bdbdbd;
}

.carousel-item:nth-child(3) img {
    object-fit: cover;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    opacity: 0.8;
    background: rgba(0,0,0,0.3);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 1;
    background: rgba(0,0,0,0.5);
}

.carousel-indicators{
    bottom: -10px;
}

.divider {
    max-width: 1000px; /* Match carousel width */
    width: 100%;
    background-color: #181f2b;
    height: 10px;
    border-radius: 2px;
    margin: 20px auto;
    margin-bottom: 10px;
    padding: 10px;
}

.new-arrivals {
    background: linear-gradient(1deg, #1a182a 30%, #243a61 100%);
    padding: 1.5rem;
    max-width: 1000px;
    width: 100%;
    margin: 20px auto;
    margin-top: 35px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 1;
  }

.new-arrivals:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.arrivals-banner {
  background: radial-gradient(circle, #9237ce, #434e88);
  padding: 1rem 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 2rem;
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.arrivals-banner h3 {
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Ubuntu', cursive; /* Unique font style */
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 20px;
}

.products-slider {
  padding: 20px;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-prev, .slick-next {
  width: 50px;
  height: 50px;
  background-color: rgba(92, 128, 212, 0.387);
  border-radius: 50%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.slick-prev:hover, .slick-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slick-prev:before, .slick-next:before {
  font-size: 20px;
  color: #ffffff;
}

.slick-prev {
  left: -15px; /* Adjust position as needed */
}

.slick-next {
  right: -18px; /* Adjust position as needed */
}
